@using Riverside.Cms.Core.Resources

<div class="rcms-change-password" ng-app="adminApp" ng-controller="ChangePasswordController" ng-init="initialise()" ng-cloak>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="spinner" ng-hide="model"></div>
            <form name="form" role="form" ng-show="model" novalidate ng-hide="passwordChanged">
                <validation-summary ng-model="model.customErrorMessages"></validation-summary>
                <password-text-field ng-model="model.fields.currentPassword"></password-text-field>
                <password-text-field ng-model="model.fields.newPassword"></password-text-field>
                <password-text-field ng-model="model.fields.confirmPassword"></password-text-field>
                <button class="btn btn-primary" type="submit" ng-disabled="submitting || form.$invalid" ng-click="submitForm()">{{model.submitLabel}}</button>
            </form>
            <p ng-show="passwordChanged">@AuthenticationResource.ChangePasswordSuccessMessage</p>
        </div>
    </div>
</div>