@using Riverside.Cms.Core.Elements
@using Riverside.Cms.Elements.CodeSnippets

@model IElementInfo<CodeSnippetSettings, CodeSnippetContent>

<div class="rcms-code-snippet-admin" ng-app="adminApp" ng-controller="CodeSnippetAdminController" ng-init="getForm(@ViewBag.PageContext.Page.PageId, @Model.Settings.ElementId)" ng-cloak>
    <div class="spinner" ng-hide="form"></div>
    <form name="htmlForm" role="form" ng-show="form" novalidate>
        <validation-summary ng-model="form.customErrorMessages"></validation-summary>
        <multi-line-text-field ng-model="form.fields.code"></multi-line-text-field>
        <select-field ng-model="form.fields.language"></select-field>
        <button class="btn btn-primary" type="submit" ng-disabled="submitting || htmlForm.$invalid" ng-click="postForm()">{{form.submitLabel}}</button>
    </form>
</div>