@using Riverside.Cms.Core.Resources

<div class="rcms-forgotten-password" ng-app="adminApp" ng-controller="ForgottenPasswordController" ng-init="initialise()" ng-cloak>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="spinner" ng-hide="model"></div>
            <form name="form" role="form" ng-show="model" novalidate ng-hide="completed">
                <validation-summary ng-model="model.customErrorMessages"></validation-summary>
                <text-field ng-model="model.fields.email"></text-field>
                <button class="btn btn-primary" type="submit" ng-disabled="submitting || form.$invalid" ng-click="submitForm()">{{model.submitLabel}}</button>
            </form>
            <p ng-show="completed">@AuthenticationResource.ForgottenPasswordCompletedMessage</p>
        </div>
    </div>
</div>
