@using Riverside.Cms.Core.Elements
@using Riverside.Cms.Elements.Html

@model IElementInfo<HtmlSettings, HtmlContent>

@{
    string editorCssPath = Url.Content("~/content/tinymce.css");
}

<div class="rcms-html-admin" ng-app="adminApp" ng-controller="HtmlAdminController" ng-init="getForm(@ViewBag.PageContext.Page.PageId, @Model.Settings.ElementId, '@editorCssPath')" ng-cloak>
    <div class="spinner" ng-hide="form"></div>
    <form name="htmlForm" role="form" ng-show="form" novalidate>
        <textarea ui-tinymce="tinymceOptions" ng-model="form.fields.html.value" rows="10"></textarea>
        <upload-field ng-if="form.fields.upload" ng-model="form.fields.upload" ng-change="fileUploaded"></upload-field>
        <button class="btn btn-primary" type="submit" ng-disabled="submitting || htmlForm.$invalid" ng-click="postForm()">{{form.submitLabel}}</button>
    </form>
</div>