@using Riverside.Cms.Core.Elements
@using Riverside.Cms.Elements.PageHeaders

@model IElementInfo<PageHeaderSettings, PageHeaderContent>

<div class="rcms-page-header-admin" ng-app="adminApp" ng-controller="PageInfoAdminController" ng-init="getForm(@ViewBag.PageContext.Page.PageId, @Model.Settings.ElementId)" ng-cloak>
    <div class="spinner" ng-hide="form"></div>
    <form name="htmlForm" role="form" ng-show="form" novalidate>
        <validation-summary ng-model="form.customErrorMessages"></validation-summary>
        <select-field ng-model="form.fields.page"></select-field>
        <checkbox-field ng-model="form.fields.showName"></checkbox-field>
        <checkbox-field ng-model="form.fields.showDescription"></checkbox-field>
        <checkbox-field ng-model="form.fields.showImage"></checkbox-field>
        <checkbox-field ng-model="form.fields.showCreated"></checkbox-field>
        <checkbox-field ng-model="form.fields.showUpdated"></checkbox-field>
        <checkbox-field ng-model="form.fields.showOccurred"></checkbox-field>
        <checkbox-field ng-model="form.fields.showBreadcrumbs"></checkbox-field>
        <button class="btn btn-primary" type="submit" ng-disabled="submitting || htmlForm.$invalid" ng-click="postForm()">{{form.submitLabel}}</button>
    </form>
</div>