@using Riverside.Cms.Core.Resources

<div class="rcms-reset-password" ng-app="adminApp" ng-controller="ResetPasswordController" ng-init="initialise()" ng-cloak>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="spinner" ng-hide="model"></div>
            <form name="form" role="form" ng-show="model" novalidate>
                <validation-summary ng-model="model.customErrorMessages"></validation-summary>
                <div class="form-body" ng-if="model.fields.password">
                    <password-text-field ng-model="model.fields.password"></password-text-field>
                    <password-text-field ng-model="model.fields.confirmPassword"></password-text-field>
                    <button class="btn btn-primary" type="submit" ng-disabled="submitting || form.$invalid" ng-click="submitForm()">{{model.submitLabel}}</button>
                </div>
            </form>
            <p ng-if="!model.fields.password">@AuthenticationResource.ResetPasswordFailureMessage</p>
        </div>
    </div>
</div>
