@using Riverside.Cms.Core.Elements
@using Riverside.Cms.Elements.Tables

@model IElementInfo<TableSettings, TableContent>

<div class="rcms-table-admin" ng-app="adminApp" ng-controller="TableAdminController" ng-init="getForm(@ViewBag.PageContext.Page.PageId, @Model.Settings.ElementId)" ng-cloak>
    <div class="spinner" ng-hide="form"></div>
    <form name="htmlForm" role="form" ng-show="form" novalidate>
        <validation-summary ng-model="form.customErrorMessages"></validation-summary>
        <text-field ng-model="form.fields.displayName"></text-field>
        <multi-line-text-field ng-model="form.fields.preamble"></multi-line-text-field>
        <multi-line-text-field ng-model="form.fields.rows"></multi-line-text-field>
        <checkbox-field ng-model="form.fields.showHeaders"></checkbox-field>
        <button class="btn btn-primary" type="submit" ng-disabled="submitting || htmlForm.$invalid" ng-click="postForm()">{{form.submitLabel}}</button>
    </form>
</div>