@using Riverside.Cms.Core.Elements
@using Riverside.Cms.Elements.TagCloud

@model IElementInfo<TagCloudSettings, TagCloudContent>

<div class="rcms-tag-cloud-admin" ng-app="adminApp" ng-controller="TagCloudAdminController" ng-init="getForm(@ViewBag.PageContext.Page.PageId, @Model.Settings.ElementId)" ng-cloak>
    <div class="spinner" ng-hide="form"></div>
    <form name="htmlForm" role="form" ng-show="form" novalidate>
        <validation-summary ng-model="form.customErrorMessages"></validation-summary>
        <text-field ng-model="form.fields.displayName"></text-field>
        <select-field ng-model="form.fields.page"></select-field>
        <checkbox-field ng-model="form.fields.recursive"></checkbox-field>
        <text-field ng-model="form.fields.noTagsMessage"></text-field>
        <button class="btn btn-primary" type="submit" ng-disabled="submitting || htmlForm.$invalid" ng-click="postForm()">{{form.submitLabel}}</button>
    </form>
</div>