@using Riverside.Cms.Services.Core.Client

@model PageView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    @Html.Raw(Model.BeginRender)
    @Html.Raw(Model.EndRender)
</body>
</html>
